name: Build And Test

on:
  push:
    branches:
      - 'master'
      - 'feat/rewrite'
  pull_request:
    branches:
      - 'master'
      - 'feat/rewrite'
  merge_group:
    types:
      - checks_requested
  workflow_dispatch:

permissions:
  contents: read
  issues: read
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ 20, 22, 24 ]
    name: Build on Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v4
      - name: Cache turbo build setup
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: yarn
      - run: yarn install --immutable
      - run: yarn run build
  test:
    needs: build
    runs-on: ubuntu-latest
    name: Test
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Cache turbo build setup
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          cache: yarn
      - name: Store Playwright's Version
        run: |
          PLAYWRIGHT_VERSION=$(npm ls @playwright/test | grep @playwright | sed 's/.*@//')
          echo "Playwright's Version: $PLAYWRIGHT_VERSION"
          echo "PLAYWRIGHT_VERSION=$PLAYWRIGHT_VERSION" >> $GITHUB_ENV

      - name: Cache Playwright Browsers for Playwright's Version
        id: cache-playwright-browsers
        uses: actions/cache@v4
        with:
          path: ~/.cache/ms-playwright
          key: playwright-browsers-${{ env.PLAYWRIGHT_VERSION }}
      - run: yarn install --immutable
      - run: yarn run build:vue-json-form
      - run: yarn test:unit
        working-directory: ./vue-json-form
      - name: Install Playwright Browsers
        if: steps.cache-playwright-browsers.outputs.cache-hit != 'true'
        run: yarn playwright install --with-deps
        working-directory: ./vue-json-form
      - name: Run Playwright tests
        run: yarn test:e2e
        working-directory: ./vue-json-form
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: vue-json-form/playwright-report/
          retention-days: 30
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: (!cancelled())
        with:
          files: |
            vue-json-form/test-results/**/*.xml
