name: Release

on:
  push:
    branches:
      - 'release/*'
  workflow_dispatch:

permissions:
  id-token: write  # Required for OIDC
  pages: write
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: 'true'
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          cache: 'yarn'
          node-version: 'lts/*'
          registry-url: 'https://registry.npmjs.org'
      - run: yarn install
      - run: yarn run build
        name: Build all workspaces
      - name: Set old versions
        run: yarn run setOldVersions
      - run: yarn run release
        name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  rebuild-doc-and-demo:
    needs:
      - release
    uses: ./.github/workflows/doc.yaml
    secrets: inherit
